body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    max-width: 800px;
    margin: auto;
    background: #FFFFFF;
    padding: 10px 10px 10px 10px;
}

/* Title of the resume */
h1 {
    font-size: 40px;
    color: #545454;
    text-align:center;
    margin-bottom:15px;
}
/* h1:hover { */
/*     background-color: #757575; */
/*     color: #FFFFFF; */
/*     text-shadow: 1px 1px 1px #333; */
/* } */

/* Titles of categories */
h2 {
    /* This is called "sectioncolor" in the ConTeXt stylesheet. */
    color: #2d5a91;
}
/* There is a bar just before each category */
h2:before {
    content: "";
    display: inline-block;
    margin-right:1%;
    width: 16%;
    height: 10px;
    /* This is called "rulecolor" in the ConTeXt stylesheet. */
    background-color: #6c99ad;
}

/* h2:hover { */
/*     background-color: #397249; */
/*     color: #FFFFFF; */
/*     text-shadow: 1px 1px 1px #333; */
/* } */

/* Definitions */
dt {
    float: left;
    clear: left;
    width: 17%;
    font-weight: bold;
}
dd {
    margin-left: 17%;
    margin-bottom:7px;
}
p {
    margin-top:0;
    margin-bottom:7px;
}

/* Blockquotes */
blockquote {
    text-align: center
}

/* Links */
a {
    text-decoration: none;
    color: #2d5a91;
}
a:hover, a:active {
    background-color: #FFFFFF;
    color: #50548f;
    text-decoration: none;
    text-shadow: 0px 0px 1px #50548f;
}

/* Horizontal separators */
hr {
    color: #c5d9d9;
}

table {
    width: 100%;
}

ul {
    padding: 0;
    margin: 0 1.5em;
    }
/* ul immediately after h1 = contact list */
header + ul {
    text-align: center;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: #a985bb;
    }
header + ul > li {
    display: inline;
    white-space: pre;
    list-style-type: none;
}
header + ul > li:after {
    content: "  \2023  ";
}
header + ul > li:last-child:after {
    content: "";
}